MONGODB_URI = mongodb+srv://muhammedqarwani:Mohamed123@store.aegkgho.mongodb.net/Mohammed-Ecommerce?retryWrites=true&w=majority&appName=Store
TOKEN_SECRET_KEY = "AKJSHDEUIFHSKJABVUAIEHIOFWEQLIFHJRNV"
FRONTEND_URL = http://localhost:3000