.customShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* user table */

.userTable {
  @apply bg-white;
}
.userTable th {
  @apply border text-base font-medium;
}
.userTable td {
  @apply border text-base text-center;
}

/* scrollbar Hidden  */

.scrollbar-none::-webkit-scrollbar {
  display: none ;
}


.Flipped, .Flipped .Content{
  transform: rotateX(180deg);
}

/* Designing for scroll-bar */
.custom-scroll::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 20px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(51, 165, 95);
  border-radius: 20px;
  
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
  
}









